.center {
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.933);
  text-align: center;
  padding: 29px;
  margin-top: 40px;
  border-radius: 1.7rem;

  box-shadow: 11px 7px 22px rgba(0, 0, 0, 0.6), -6px 5px 20px rgba(0, 0, 0, 0.6);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e9fffa;
}
.login-btn {
  background-color: rgb(45, 110, 45);
  color: white;
  margin-top: 1rem;
  margin-bottom: 0.3rem;

  padding: 10px 17px 10px 17px;
  border: none;
  border-radius: 12px;
  font-size: 17px;
}

button:hover {
  cursor: pointer;
}

.info-btn {
  padding: 0.7rem;
  background-color: rgb(65, 120, 207);
  color: white;
  border: none;
  border-radius: 0.4rem;
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
}

input {
  padding: 15px;
  border-radius: 12px;
  margin: 0.3rem;
  border: 0.08rem solid grey;
}

.gsign-btn {
  padding: 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  margin-right: 4px;
  margin-bottom: 0.4rem;
}

.gitsign-btn {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 10px;
}

.login-container a {
  text-decoration: none;
  padding: 10px;
}

.chats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  padding: 2rem;
  border: 0.1rem solid grey;
}

.chatmsg {
  padding: 12px;
  border: 0.07rem solid grey;
  border-radius: 12px;
  background-color: rgb(84, 119, 185);
  margin-right: 5rem;
}

.usermsg {
  padding: 12px;
  border: 0.07rem solid grey;
  border-radius: 12px;
  margin-left: 5rem;
  background-color: rgb(84, 185, 97);
}

.btns {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.logout-btn {
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  margin-left: 6em;
  margin-top: 1rem;
}
